nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.form-control {
  width: 50%;
}

.success { 
  color:green;
}

.errorlist, .error {
  color: red;
}


.listing-description, .listing-categories {
  border: 1px solid black;
  font-style: italic;
  background-color: seashell;
  padding: .5rem;
}

.listing-categories {
  border-top: 0px;
  font-size: small;
  font-style: normal;
}

.listing-category {
  font-weight: bold;
}

.listing-button {
  width: 175px;
}

article.comments {
  font-size:smaller;
  padding:0px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: aliceblue;
}

section.comments {
  padding:10px;
  margin: 0px;
}

